* {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

header h1 {
    border-bottom: solid black 1px;
    margin: 3px 70px;
    padding: 10px;

}

header p {
    border-top: solid black 3px;
    margin: 1px 50px;
    padding: 10px;
}

section {
    border: solid black 1px;
    margin: 50px;
}

#skills ul{
    display: inline-block;
    margin: 20px;
}
section #skills_left {
    margin-right: 200px;
}